html, body {
	height: 100%;
	margin: 0;
	display: flex;
	flex-direction: column;
}

main {
	flex: 1; /* utiliza el espacio disponible y empuja el footer hacia el final*/
}

/* --- Estilo carrito --- */
.cart-section {
	max-width: 400px;
	margin: 50px auto;
	background: #fff;
	padding: 20px;
	border-radius: 12px;
	box-shadow: 0px 4px 15px rgba(0,0,0,0.2);
	text-align: center;
}

.cart-section h2 {
	margin-top: 0;
	font-size: 1.4rem;
	color: #5D4037;
}

.cart-section ul {
	list-style: none;
	padding: 0;
	margin: 15px 0;
}

.cart-section li {
	border-bottom: 1px solid #ddd;
	padding: 8px 0;
}

.cart-section button {
	margin-top: 10px;
	padding: 10px 20px;
	border: none;
	border-radius: 8px;
	cursor: pointer;
	background-color: #E9897E;
	color: white;
}

button{
		padding: 10px 20px;
		background-color: #E9897E; 
		color: #F5F5F5; 
		border: 1px solid #E9897E;
		cursor: pointer;
		transition: background-color 0.3s ease;
		border-radius: 8px;
}
/* Fondo y modal oculto por defecto */
.modal {
		display: none;
		position: fixed;
		z-index: 1000;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		overflow: auto;
		background-color: rgba(0,0,0,0.5); /* fondo oscuro */
}

/* Contenido del modal */
.modal-content {
		background-color: #fff;
		margin: 10% auto;
		padding: 20px;
		border-radius: 8px;
		width: 90%;
		max-width: 400px;
		text-align: center;
		position: relative;
}

/* Botón cerrar */
.close {
		position: absolute;
		top: 10px;
		right: 15px;
		font-size: 24px;
		cursor: pointer;
}

/* --- Footer --- */
footer {
	background-color: #5F4B3C;
	color: #fff;
	padding: 15px;
	text-align: center;
	border-top: 2px solid #947259;
}
