body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav-link-custom {
  color: #fff !important;
  transition: color 0.3s ease;
  font-weight: 500;
}

.nav-link-custom:hover {
  color: #E9897E !important;
}

header .navbar-brand,
header .nav-link,
header .dropdown-toggle {
  color: #fff !important;
}

header .nav-link:hover,
header .dropdown-toggle:hover {
  color: #E9897E !important;
}

footer p {
  color: #fff;
  margin-bottom: 0;
}
